@import url("https://fonts.googleapis.com/css2?family=Farro&family=Roboto+Slab:wght@400;600&display=swap");

:root {
  --base-color-hue: 210;
  --main-bg-color: hsla(var(--base-color-hue), 100%, 50%, 1);
  --accent-bg-color: hsla(var(--base-color-hue), 100%, 70%, 1);
  --overlay-color: hsla(var(--base-color-hue), 100%, 70%, 0.5);
  --main-outline-color: hsla(calc(var(--base-color-hue) - 30), 100%, 50%, 1);

  --base-space-size: 20px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: calc(var(--base-space-size) + 15px);
  width: calc(100% - calc((var(--base-space-size) + 15px) * 2));
  background: var(--main-bg-color);
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 35px;
  padding: 0px var(--base-space-size);
  background-color: var(--accent-bg-color);
  outline: 5px dashed var(--main-outline-color);
  outline-offset: 2px;
}
.page-headline,
.card-title {
  font-family: "Roboto Slab", serif;
}

.page-container {
  display: grid;
  height: 100%;
  grid-auto-rows: 70%;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 35px;
  row-gap: 35px;
}

.card {
  border-radius: 5px;
  transition: ease-in 100ms box-shadow;
  padding: 0px 20px;
  background: var(--accent-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card > * {
  margin-top: 20px;
}

.card-image-wrapper {
  width: 100%;
  height: min-content;
  margin: 0px auto;
  outline: 5px double var(--main-outline-color);
  outline-offset: -10px;
  box-sizing: border-box;
  position: relative;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-image-wrapper::after {
  display: block;
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--overlay-color);
  top: 0px;
}

.card-preview-text {
  font-family: "Farro", sans-serif;
}

.card-link {
  font-family: "Farro", sans-serif;
  color: var(--main-outline-color);
  text-decoration: none;
}

.theme-toggle {
  width: 50px;
  height: 20px;
  border: 5px solid var(--main-outline-color);
  border-radius: 15px;
  position: relative;
}

.theme-toggle-input {
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 5;
}

.theme-toggle-label {
  width: 50%;
  height: 100%;
  background: var(--main-outline-color);
  display: block;
  position: absolute;
  top: 0px;
  border-radius: 15px;
  transform: translateX(0);
  transition: ease-in-out 100ms transform;
  z-index: 0;
}
:checked + .theme-toggle-label {
  transform: translateX(100%);
}

body.dark {
  --base-color-hue: 210;
  --main-bg-color: hsla(var(--base-color-hue), 100%, 10%, 1);
  --accent-bg-color: hsla(var(--base-color-hue), 100%, 5%, 1);
  --overlay-color: hsla(var(--base-color-hue), 100%, 10%, 0.5);
  --main-outline-color: hsla(calc(var(--base-color-hue) - 30), 100%, 30%, 1);
  color: white;
}

@media (max-width: 950px) {
  .page-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .page-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
